.bg-blue {
    background-color: #6fa3ef !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-grey {
    background-color: #fbfdff !important;
}

.bg-deepgrey {
    background-color: rgba(0, 0, 0, .5) !important;
}

.bg-purple {
    background-color: #bc99c4 !important;
}

.bg-green {
    background-color: #46c47c !important;
}

.bg-yellow {
    background-color: #f9bb3c !important;
}

.bg-red {
    background-color: #e8583d !important;
}

.bg-orange {
    background-color: #f68e5f !important;
}

.bg-orange-red {
    background-color: #eb3c00 !important;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    /*禁止双击选定*/
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #f0f0f0;
}

.sen-top-div {
    width: 100%;
    height: 60px;
    position: fixed;
    box-shadow: 0px 0px 10px #999;
    z-index: 10;
}

.sen-top-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sen-nav-div {
    width: 60%;
    height: 60px;
    margin: 0 auto;
}

.nav-ul {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    font-size: 16px;
    display: -webkit-flex;
    margin: 0;
    padding: 0;
}

.nav-li {
    display: inline;
    text-align: center;
    -webkit-flex: 1;
}

.nav-li a {
    display: block;
    color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    text-decoration: none;
}

/* 背景颜色过渡效果 */

.nav-li a:hover {
    background: #3F3F3F;
    font-size: 18px;
}

.nav-li .slideDown {
    position: absolute;
    display: none;
    background: #f68e5f;
    overflow: hidden;
    width: 15%;
    box-shadow: 0px 0px 10px #999;
}

.slideDown ul li {
    margin: 0 -20px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    list-style: none;
    text-align: center;
    font-size: 14px;
}

.slideDown ul li:hover {
    /* background: #eb3c00; */
    font-size: 16px;
}

.slideDown ul li a {
    text-decoration: none;
}

.content {
    padding-top: 60px;
}

.content-div {
    width: 60%;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
    margin-top: 20px;
}

.content-div .title {
    padding: 20px 0 0 20px;
    font-size: 16px;
}

.content-div .title a {
    text-decoration: none;
    color: #666;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -ms-transition: All 1s ease;
    -o-transition: All 1s ease;
}

.content-div .title a:hover {
    padding-left: 20px;
    font-size: 18px;
    color: #222;
}

.content-div .textinfo {
    overflow: hidden;
}

/* 
margin: 20px;（上、下、左、右各20px。）
margin: 20px 40px;（上、下20px；左、右40px。）
margin: 20px 40px 60px;（上20px；左、右40px；下60px。）
margin: 20px 40px 60px 80px;（上20px；右40px；下60px；左80px。）
 */
.content-div .textinfo img {
    width: 150px;
    padding: 4px;
    float: left;
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -ms-transition: All 1s ease;
    -o-transition: All 1s ease;
    border-radius: 4px;
    margin: 0 20px 15px;
    opacity: 0.6;
}

.content-div .textinfo img:hover {
    opacity: 1.0;
    transform: scale(1.2);
}

.content-div .textinfo p {
    color: #666;
    line-height: 24px;
    margin: 0;
    padding: 0 20px 20px
}

.time {
    opacity: 0.8;
    border-radius: 0 0 10px 10px;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    font-size: 13px;
}

.time div {
    display: flex;
    justify-content: center;
    float: right;
}

.time span {
    margin-left: 10px;
    color: white
}

/* 内容 */
.content-info {
    width: 75%;
    margin: 0 auto;
    padding: 80px 2% 0 2%;
    background: white;
}

.content-info img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
}

.content-info .title {
    color: black;
    font-size: 22px;
}

.content-info p {
    color: #666;
    line-height: 24px;
}

/* 内容  public */
.public-content {
    padding-top: 70px;
    width: 60%;
    margin: 0 auto;
}

.columns {
    padding: 10px;
    height: auto;
    align-items: center;
}

.columns-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: .6px;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(159, 202, 255, .5);
    border-radius: .6rem;
    min-height: 250px;
}

.columns-item:hover {
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .07);
    box-shadow: 2px 2px 2px rgba(159, 202, 255, .5);
    border-radius: .6rem;
}

.columns-item .item-thumb {
    position: relative;
    display: inherit;
    min-height: 250px;
    -webkit-transition: -webkit-transform 500ms ease, filter 500ms ease;
    -moz-transition: -moz-transform 500ms ease, filter 500ms ease;
    transition: transform 500ms ease, filter 500ms ease;
    background-position: 50% 50%;
    background-size: cover;
}

.columns-item:hover .item-thumb {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    box-shadow: 0 15px 30px rgba(69, 81, 93, 0.3);
}

.columns-item .item-desc {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 40px 28px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    text-align: center
}

.columns-item .item-desc p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    word-break: break-all;
    opacity: 0;
    color: #fff;
}

.columns-item:hover .item-desc {
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .04);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .07);
    border-radius: .6rem;
}

.columns-item:hover .item-desc p {
    -webkit-animation: fade-in .5s;
    animation: fade-in;
    animation-duration: .5s;
    opacity: 1;
}

.columns-item .item-slant {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    width: 110%;
    min-height: 100px;
    -webkit-transform: rotate(7deg) translate(-10px, 0);
    -ms-transform: rotate(7deg) translate(-10px, 0);
    transform: rotate(7deg) translate(-10px, 0);
    background-color: #fff;
}

.columns-item .item-slant.reverse-slant {
    -webkit-transform: rotate(-10deg) translate(10px, -10px);
    -ms-transform: rotate(-10deg) translate(10px, -10px);
    transform: rotate(-10deg) translate(10px, -10px);
    opacity: .7;
    background-color: #f68e5f;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.columns-item .liberxue-title {
    background: rgba(227, 234, 241, 0.3);
    font-weight: 200;
    padding: 4px 13px;
}

.columns-item .columns-item-bottom {
    position: relative;
    height: 130px;
    padding: 25px 20px 40px;
    background-color: #fff;
    vertical-align: middle;
}

.columns-item .columns-item-bottom-title a {
    font-size: 15px;
    word-break: break-all;
    color: #000;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.columns-item .columns-item-bottom-title a:hover,
.columns-item .columns-item-bottom-time a:hover {
    color: #ed5565;
    text-decoration: none;
}

.columns-item .columns-item-bottom-time {
    display: flex;
    float: right;
    margin-top: 20px;
}

.columns-item .columns-item-bottom-time a {
    font-size: 16px;
    word-break: break-all;
    color: #666666;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.columns-item .columns-item-bottom-time img {
    width: 32px;
    height: 32px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px #999;
    margin-left: 10px;
}

.columns-item .columns-item-bottom-time img:hover {
    -webkit-animation: rotateImg 2s linear infinite;
}

a::before {
    color: #ed5565;
    content: attr(data-hover);
    position: absolute;
    outline: 0;
    white-space: nowrap;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

a:hover::before,
a:focus::before {
    outline: 0;
    white-space: nowrap;
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}